<!doctype html>
<html ng-app="playgroundApp">
  <head>
    <script src="bower/angular/angular.js"></script>
    <script src="bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/playground-app.js"></script>
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="style/style.css" rel="stylesheet"/>
  </head>
  <body ng-controller="mainCtrl">

<!--
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Example</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Foo</a></li>
            <li><a href="#">Bar</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lot <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li class="divider"></li>
                <li><a href="#">Three</a></li>
                <li class="divider"></li>
                <li><a href="#">Four</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Ext">
            </div>
            <button type="submit" class="btn btn-default">Go</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Ohai</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Log out</a></li>
                <li class="divider"></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
-->

    <div class="bar_container">
      <progressbar ng-repeat="bar in bars" max="bar.max" value="bar.value" type="{{ bar.type }}">
      </progressbar>
    </div>

<!--
    <ul class="test">
      <li ng-repeat="thing in things">
        <span>{{ thing.name }}</span>: <span>{{ thing.thing }}</span>
      </li>
    </ul>
-->
  </body>
</html>
